body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 20px 0px;
	background: #CCC;
}

.container {
	width: 934px;
	margin: 0 auto;
	background: #fff;
}

header {
	text-align: center;
	padding: 20px;
}

h1 {
	color: #606;
}

section {
	margin: 20px;
}

article {
	float: left;
	width: 425px;
	padding: 10px;
	margin: 0 auto;
}

footer {
	border: dashed 3px #606;
	width: 425px;
	height: 100px;
	margin: 0 auto;
	clear: both;
}

h2 {
	text-align: center;
}

ol {
	list-style-type: none;
}

ol li {
	display: inline-block;
}

ol li a {
	text-decoration: none;
	padding: 10px;
	margin: 0;
}

