<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html" charset="utf-8">
    <title>Double</title>
    <style type="text/css" media="screen">
	.wrap {
		margin: 0 auto;
		width: 800px;
	}
	
	section {
		width: 525px;
		float: left;
		margin-right: 25px;
	}
	
	aside { 
		width: 250px;
		float: left;
	}
	
	footer {
		clear: both;
		border-top: solid 1px #e3e3e3;
	}
    </style>
</head>
<body>
	<div class="wrap">
    	<header>
        	<h1>This is a header.</h1>
        </header>
    	<section>
        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac pretium lacus. Pellentesque venenatis odio eu nulla congue quis auctor justo commodo. Duis in orci nec erat consectetur commodo at nec magna. Cras ut nisi non massa lobortis varius at a lacus. Etiam eu ligula ante. Vivamus sed nisl vitae diam laoreet porttitor. Duis ut nunc tellus. Etiam eu sem at urna pulvinar euismod ut sed ligula. Mauris eu enim orci. Vestibulum varius aliquam blandit. Maecenas aliquet lacus non orci luctus a feugiat nisl eleifend.</p>
            <p>Fusce semper arcu quis quam malesuada euismod. Phasellus placerat massa sed turpis vehicula sed tincidunt mauris lobortis. Cras sed dictum leo. Fusce auctor aliquet consequat. Etiam vitae commodo libero. Quisque nec leo id dui ornare aliquet. Donec egestas vehicula mollis.</p>
        </section>
        <aside>
        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi bibendum leo a diam sagittis non consequat urna iaculis. Sed mattis massa ut velit pretium vestibulum mattis urna aliquam. In hac habitasse platea dictumst. Mauris pretium interdum velit quis hendrerit. Aliquam erat volutpat. Cras tellus nisl, fermentum euismod egestas in, consectetur id velit. Vivamus consequat vehicula libero, non rutrum justo aliquam id. Suspendisse potenti. Maecenas sit amet mauris quam. Quisque ipsum tortor, interdum quis ultrices eu, vulputate sit amet enim. Vestibulum est lectus, euismod eget ultrices ac, ornare nec ante. Etiam a massa ac felis euismod pharetra at vitae justo. Duis accumsan suscipit vulputate.</p>
        </aside>
        <footer>
        	<p>This is a footer.</p>
        </footer>
	</div>
</body>
</html>