<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html" charset="utf-8">
    <title>Gallery</title>
    <style type="text/css" media="screen">
	.wrap {
		margin: 0 3%;
	}
	
	article {
		float: left;
		width: 220px;
		padding: 10px;
		margin: 10px;
		background: #f3f3f3;
	}
	
	footer {
		clear: both;
	}
    </style>
</head>
<body>
	<div class="wrap">
    	<header>
        	<h1>This is a header.</h1>
        </header>
    	<section>
        	<article>
            	<h2>Title</h2>
               	<p>Proin ut neque elit. Nam sed odio at dui consectetur venenatis. Quisque suscipit lacus bibendum metus interdum vel ultricies dui fringilla. Nullam bibendum rutrum arcu eget lobortis. Sed eros neque, pellentesque ac vehicula dignissim, sodales a sem. Etiam sagittis ultricies ligula eget blandit. Aenean et pellentesque purus. Sed tempor pharetra nunc, a vulputate nibh euismod eget. Morbi et lacinia odio. Integer ut metus nisl, quis posuere ipsum. Duis interdum imperdiet metus, a eleifend neque tempus eget. Donec ornare elit vitae turpis semper id rutrum ante semper</p>
          	</article>
            <article>
            	<h2>Title</h2>
               	<p>Proin ut neque elit. Nam sed odio at dui consectetur venenatis. Quisque suscipit lacus bibendum metus interdum vel ultricies dui fringilla. Nullam bibendum rutrum arcu eget lobortis. Sed eros neque, pellentesque ac vehicula dignissim, sodales a sem. Etiam sagittis ultricies ligula eget blandit. Aenean et pellentesque purus. Sed tempor pharetra nunc, a vulputate nibh euismod eget. Morbi et lacinia odio. Integer ut metus nisl, quis posuere ipsum. Duis interdum imperdiet metus, a eleifend neque tempus eget. Donec ornare elit vitae turpis semper id rutrum ante semper</p>
          	</article>
            <article>
            	<h2>Title</h2>
               	<p>Proin ut neque elit. Nam sed odio at dui consectetur venenatis. Quisque suscipit lacus bibendum metus interdum vel ultricies dui fringilla. Nullam bibendum rutrum arcu eget lobortis. Sed eros neque, pellentesque ac vehicula dignissim, sodales a sem. Etiam sagittis ultricies ligula eget blandit. Aenean et pellentesque purus. Sed tempor pharetra nunc, a vulputate nibh euismod eget. Morbi et lacinia odio. Integer ut metus nisl, quis posuere ipsum. Duis interdum imperdiet metus, a eleifend neque tempus eget. Donec ornare elit vitae turpis semper id rutrum ante semper</p>
          	</article>
            <article>
            	<h2>Title</h2>
               	<p>Proin ut neque elit. Nam sed odio at dui consectetur venenatis. Quisque suscipit lacus bibendum metus interdum vel ultricies dui fringilla. Nullam bibendum rutrum arcu eget lobortis. Sed eros neque, pellentesque ac vehicula dignissim, sodales a sem. Etiam sagittis ultricies ligula eget blandit. Aenean et pellentesque purus. Sed tempor pharetra nunc, a vulputate nibh euismod eget. Morbi et lacinia odio. Integer ut metus nisl, quis posuere ipsum. Duis interdum imperdiet metus, a eleifend neque tempus eget. Donec ornare elit vitae turpis semper id rutrum ante semper</p>
          	</article>
            <article>
            	<h2>Title</h2>
               	<p>Proin ut neque elit. Nam sed odio at dui consectetur venenatis. Quisque suscipit lacus bibendum metus interdum vel ultricies dui fringilla. Nullam bibendum rutrum arcu eget lobortis. Sed eros neque, pellentesque ac vehicula dignissim, sodales a sem. Etiam sagittis ultricies ligula eget blandit. Aenean et pellentesque purus. Sed tempor pharetra nunc, a vulputate nibh euismod eget. Morbi et lacinia odio. Integer ut metus nisl, quis posuere ipsum. Duis interdum imperdiet metus, a eleifend neque tempus eget. Donec ornare elit vitae turpis semper id rutrum ante semper</p>
          	</article>
            <article>
            	<h2>Title</h2>
               	<p>Proin ut neque elit. Nam sed odio at dui consectetur venenatis. Quisque suscipit lacus bibendum metus interdum vel ultricies dui fringilla. Nullam bibendum rutrum arcu eget lobortis. Sed eros neque, pellentesque ac vehicula dignissim, sodales a sem. Etiam sagittis ultricies ligula eget blandit. Aenean et pellentesque purus. Sed tempor pharetra nunc, a vulputate nibh euismod eget. Morbi et lacinia odio. Integer ut metus nisl, quis posuere ipsum. Duis interdum imperdiet metus, a eleifend neque tempus eget. Donec ornare elit vitae turpis semper id rutrum ante semper</p>
          	</article>
            <article>
            	<h2>Title</h2>
               	<p>Proin ut neque elit. Nam sed odio at dui consectetur venenatis. Quisque suscipit lacus bibendum metus interdum vel ultricies dui fringilla. Nullam bibendum rutrum arcu eget lobortis. Sed eros neque, pellentesque ac vehicula dignissim, sodales a sem. Etiam sagittis ultricies ligula eget blandit. Aenean et pellentesque purus. Sed tempor pharetra nunc, a vulputate nibh euismod eget. Morbi et lacinia odio. Integer ut metus nisl, quis posuere ipsum. Duis interdum imperdiet metus, a eleifend neque tempus eget. Donec ornare elit vitae turpis semper id rutrum ante semper</p>
          	</article>
              <article>
            	<h2>Title</h2>
               	<p>Proin ut neque elit. Nam sed odio at dui consectetur venenatis. Quisque suscipit lacus bibendum metus interdum vel ultricies dui fringilla. Nullam bibendum rutrum arcu eget lobortis. Sed eros neque, pellentesque ac vehicula dignissim, sodales a sem. Etiam sagittis ultricies ligula eget blandit. Aenean et pellentesque purus. Sed tempor pharetra nunc, a vulputate nibh euismod eget. Morbi et lacinia odio. Integer ut metus nisl, quis posuere ipsum. Duis interdum imperdiet metus, a eleifend neque tempus eget. Donec ornare elit vitae turpis semper id rutrum ante semper</p>
          	</article>
        </section>
        <footer>
        	<p>This is a footer.</p>
        </footer>
	</div>
</body>
</html>