<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html" charset="utf-8">
    <title>Single</title>
    <style type="text/css" media="screen">
	.wrap {
		margin: 0 10%;
	}
	header, footer {
		background: #ccc;
	}
    </style>
</head>
<body>
	<div class="wrap">
    	<header>
        	<h1>This is a header.</h1>
        </header>
    	<section>
        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac pretium lacus. Pellentesque venenatis odio eu nulla congue quis auctor justo commodo. Duis in orci nec erat consectetur commodo at nec magna. Cras ut nisi non massa lobortis varius at a lacus. Etiam eu ligula ante. Vivamus sed nisl vitae diam laoreet porttitor. Duis ut nunc tellus. Etiam eu sem at urna pulvinar euismod ut sed ligula. Mauris eu enim orci. Vestibulum varius aliquam blandit. Maecenas aliquet lacus non orci luctus a feugiat nisl eleifend.</p>
            <p>Fusce semper arcu quis quam malesuada euismod. Phasellus placerat massa sed turpis vehicula sed tincidunt mauris lobortis. Cras sed dictum leo. Fusce auctor aliquet consequat. Etiam vitae commodo libero. Quisque nec leo id dui ornare aliquet. Donec egestas vehicula mollis.</p>
        </section>
        <footer>
        	<p>This is a footer.</p>
        </footer>
	</div>
</body>
</html>